body{
    background-color: black;
    align-items: center;
    min-height: 100vh;
}
#digitalClock{
    position: fixed;
    top:40%;
    /* left: 28%; */
    background-color: red;
    font-size: 20vw;
    height: auto;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}
/* @media screen and (max-width: 500px){
    #digitalClock{
        position: absolute;
        width: 500px;
        left: 0%;
        font-size: 4rem;
        align-items: center;
        
    }
} */
